<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Automation Suite" parallel="tests">
    <!--LOGIN COMBINATION TEST-->
    <test name="LOGIN (Combinations) TEST" thread-count="4" verbose="2" parallel="methods">
<!--        <parameter name="browserName" value="chrome"/>-->
        <classes>
            <class name="LoginTest">
                <methods>
                    <include name="testValidUserNamePassword"/>
                    <include name="deriverThres"/>
                    <include name="deriverTshres"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>